#coords {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #2cf;
	background-color: #2cd;
	opacity: .86;
	max-height: 400px;
	overflow-y: scroll;
}

#coords p {
	font-size: 10px;
	line-height: 10px;
	color: #FFF;
}

#last-item {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #2cf;
	background-color: #2cd;
	opacity: .86;
	max-height: 400px;
}

img.item {
	height: 200px;
}

.toolTip {
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #2cf;
	background-color: #2cd;
	opacity: .86;
}

.toolTip img {
	height: 100;
}