body {
  background-color: #000;
  height: 100%;
  width: 100%;
  border-top: 4px solid #0cf;
  font-family: 'Fauna One', serif;
}

#map {
  width: 1000px;
  height: 800px;
}

#last-item {
	padding: 3px;
	background-color: #0cf;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	opacity: .86;
	width: 133px;
	margin-left: 41px;
}

#last-item img.item {
	height: 176px;
	margin-bottom: 7px;
}

#last-item .address {
	color: #FFF;
	text-align: center;
}

.diagnostics {
	position: absolute;
	top: 4px;
	right: 0;
	height: 100%;
	width: 250px;
	background-color: #212121;
	border-left: 2px solid #111;
	padding: 0;
	background: #212121; /* Old browsers */
	background: -moz-linear-gradient(left,  #212121 0%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#212121), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #212121 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #212121 0%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #212121 0%,#303030 100%); /* IE10+ */
	background: linear-gradient(to right,  #212121 0%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#303030',GradientType=1 ); /* IE6-9 */
}

.diagnostics h2, h3 {
	text-align: center;
}

.diagnostics .segment {
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	padding: 12px 15px;
	margin: 0;
	color: #0cf;
}

.diagnostics .segment:first-child {
	border-top: none;
}

.diagnostics .segment:last-child {
	border-bottom: none;
	height:100%;
}

.sales-counter {
	color: #FFF;
	text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.feed {
	margin: 0 0 10px 15px;
}

.feed li {
	border-right: 1px solid #000;
	border-left: 1px solid #333;
	padding: 0 5px;
	margin: 5px 0;
	float:left;
	list-style: none;
}

.feed li:last-child, .feed li:nth-child(3), .feed li:nth-child(6),
.feed li:nth-child(9) {
	border-right: none;
}

.feed li:first-child, .feed li:nth-child(4), .feed li:nth-child(7),
.feed li:nth-child(10) {
	border-left: none;
}

.feed li img {
	height:70px;
}

.toolTip {
	padding: 5px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 2px solid #2cf;
	background-color: #2cd;
	opacity: .86;
}

.toolTip img {
	height: 100;
}

img.item {
	height: 200px;
}

.blip-text {
	font-size: 35px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 80%;
	height: 50px;
}

.footer-address {
	color: #FF6633;
	font-size:42px;
	text-align: center;
}
